body {
   background-color: #fff;
   margin: 0;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding-left: 30px;
   padding-right: 30px;
}

img {
   max-width: 100%;
}

/*
====================
 Header
=================== */
.site-header {
   background-color: #fff;
   border-bottom: 1px solid #eee;
}

.site-header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.site-header .logo-link {
   max-width: 70px;
   display: inline-block;
}

.main-navigation ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.main-navigation a {
   text-decoration: none;
   color: #000;
   font-size: 14px;
   display: block;
   padding: 0 15px;
}

.main-navigation a:hover {
   color: #666;
}

.main-navigation > ul {
   display: flex;
}

.main-navigation > ul > li > a {
   line-height: 80px;
   text-transform: uppercase;
}

.main-navigation ul ul {
   position: absolute;
}